<launch>

  <arg name="world_name" default="worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="robot_namespace" value="husky"/>
    <!-- <arg name="robot_name" value="husky"/> -->
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.0"/>
  </include>

  <include file="$(find hhgps_gazebo)/launch/spawn_hhgps.launch">
    <arg name="robot_namespace" value="hhgps"/>
    <arg name="robot_name" value="hhgps"/>
    <arg name="x" value="-3.0"/>
    <arg name="y" value="-3.0"/>
    <arg name="z" value="0.0"/>
  </include>

  <include file="$(find hhgps_sim)/launch/hhgps_sim.launch"/>
  <include file="$(find pure_pursuit)/launch/dual_gps_pose.launch" />
</launch>