<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="gnss_antenna" params="parent name gps_num *origin">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://cpr_onav_description/meshes/gnss_antenna.stl"/>
        </geometry>
        <origin xyz="0 0 ${0.065/2}" rpy="0 0 0" />
        <material name="white">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.075" length="0.065" />
        </geometry>
        <origin xyz="0 0 ${0.065/2}" rpy="0 0 0" />
      </collision>
      <inertial>
        <mass value="0.1"/>   <!-- very small mass (for revolute joints inertial mas needed) -->
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-5" iyy="1e-5" izz="1e-5" ixy="0" ixz="0" iyz="0"/>
      </inertial>

    </link>
    <joint name="${name}_joint" type="revolute">  <!-- changed fixed to revolute publish different gps points -->
      <parent link="${parent}" />
      <child link="${name}_link" />
      <axis xyz="0 0 1" />  <!-- Required for revolute -->
      <limit lower="0" upper="0" effort="0.1" velocity="0.1"/>
      <dynamics damping="0.1" friction="0.1"/>
      <xacro:insert_block name="origin" />
    </joint>
    <gazebo>
      <plugin name="${name}_gps_position_controller" filename="libhector_gazebo_ros_gps.so">
        <updateRate>10</updateRate>
        <robotNamespace>/</robotNamespace>
        <bodyName>${name}_link</bodyName>
        <frameId>${name}_link</frameId>
        <topicName>/sensors/gps_${gps_num}/fix</topicName>
        <velocityTopicName>/sensors/gps_${gps_num}/vel</velocityTopicName>
        <referenceLatitude>$(optenv GAZEBO_WORLD_LAT 17.50969045486119)</referenceLatitude>  <!-- update ref lat/lon based on config files -->
        <referenceLongitude>$(optenv GAZEBO_WORLD_LON 78.27728104672221)</referenceLongitude> 
        <referenceHeading>0</referenceHeading>   <!-- changed to 0 to avoid complication xaxis->north yaxis->west -->
        <referenceAltitude>0</referenceAltitude>
        <drift>0.0001 0.0001 0.0001</drift>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
